<!-- 数据源 -->
@model List<E_CommercePlatform.Entities.Category>

<!-- 视图标题 -->
@{
    ViewBag.Title = "类 别 展 示";
    <!-- 在这里限制category的数量 -->
}

@Html.Partial("Partials/_Slogan")

<section class="section" id="products">
    <!-- 标题 -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>特 色 类 别</h2>
                    <span>看看都有哪些热门类别吧~</span>
                </div>
            </div>
        </div>
    </div>

    <!-- 类别容器 -->
    <div class="container">
        <div class="row">

            @foreach (var category in Model)
            {
                <!-- 类别1 -->
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <img src="@category.ImageUrl" alt="未加载图片">
                        </div>

                        <div class="down-content">
                            <h4>@category.Name</h4>
                            <span>@category.Description</span>

                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }



            <!-- 分页 -->
            <div class="col-lg-12">
                <div class="pagination">
                    <ul>
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li class="active">
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>




@*<div>
        <table>
            <thead>
                <tr>
                    <th>名 称</th>
                    <th>描 述</th>
                    <th>图 片</th>
                    <th>精 选</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@category.Description</td>
                        <td>
                            <img src="@category.ImageUrl" alt="未加载图片" width="100" />
                        </td>
                        <td>@(category.IsFeatured ? "是" : "否")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@